In [23]:
import pandas as pd

#### Definición de variables

In [24]:
brand_name = "KTM"
pais = 'CO'

#### Lectura de la base

In [25]:
base_mx = r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Data\historical_data\history\MX\BaseMXv5.csv"
base_co = r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Data\historical_data\history\CO\BaseCOv2.csv"
base_cl = r"C:\Users\JTRUJILLO\Documents\Galgo\Scripts\Data\historical_data\history\CL-MOTORCYCLES\df_cl-motorcycles_history.csv"
if pais == "MX":
    df_base = pd.read_csv(base_mx)
elif pais == "CO":
    df_base = pd.read_csv(base_co)
elif pais == "CL":
    df_base = pd.read_csv(base_cl)

last_date = df_base["Fecha de actualización"].iloc[-1]
df_base = df_base[df_base["Fecha de actualización"] == last_date]

C:\Users\JTRUJILLO\AppData\Local\Temp\ipykernel_2088\863694601.py:7: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_base = pd.read_csv(base_co)

#### Filtrar solamente por modelos que no están descontinuados

In [44]:
df_base = df_base[df_base["stock_final"] == True]
df_base.head()

,Fecha de actualización,country,categoryCode,code,Marca,Modelo,Año,sku,Tipo,Cilindrada,...,url_final,Título,url_coincide_titulo,url_tiene_año,años_disponibles,tiene_año_actualizado,code_modelos_agrupados,ID,Relevancia,Tags
66183,30/06/2025,CO,CO-MOTORCYCLES,CO1899-hero-ignitor-super-street,Hero,Ignitor Super Street,2025,648452702.0,['Urbana'],125,...,https://www.galgo.com/co/motos/CO1899-hero-ign...,Hero Ignitor Super Street,True,False,"2024, 2025, 2026",True,CO1899-hero-ignitor-super-street,CO1899,80,NaN
66184,30/06/2025,CO,CO-MOTORCYCLES,CO2800-tvs-stryker-12,TVS,Stryker 125,2026,140891544.0,['Urbana'],125,...,https://www.galgo.com/co/motos/CO2800-tvs-stry...,TVS Stryker 125,False,False,"2025, 2026",True,CO2800-tvs-stryker-12,CO2800,80,NaN
66185,30/06/2025,CO,CO-MOTORCYCLES,CO1043-bajaj-pulsar-n160,Bajaj,Pulsar N 160,2025,867941485.0,['Naked'],150,...,https://www.galgo.com/co/motos/CO1043-bajaj-pu...,Bajaj Pulsar N160,True,False,"2025, 2026",True,CO1043-bajaj-pulsar-n160,CO1043,75,NaN
66186,30/06/2025,CO,CO-MOTORCYCLES,CO955-royal-enfield-interceptor-650,Royal Enfield,Interceptor 650,2024,946509727.0,['Café Racer'],650,...,https://www.galgo.com/co/motos/CO955-royal-enf...,Royal Enfield Interceptor 650,True,False,2024,False,CO955-royal-enfield-interceptor-650,CO955,5,NaN
66188,30/06/2025,CO,CO-MOTORCYCLES,CO1635-yamaha-xsr900-2024,Yamaha,XSR900,2024,451117628.0,['Café Racer'],890,...,https://www.galgo.com/co/motos/CO1635-yamaha-x...,Yamaha XSR900,True,True,2024,False,CO1635-yamaha-xsr900-2024,CO1635,50,NaN

### Lectura del archivo con los nombres de modelos

In [45]:
with open(f"pages/{brand_name}/{pais}/{brand_name}.txt", "r", encoding="utf-8") as file:
    txt_content = file.read()

In [47]:
txt_content

'KTM 125 SX\nKTM 125 XC-W\nKTM 150 EXC\nKTM 150 SX\nKTM 250 EXC\nKTM 250 EXC CHAMPION EDITION\nKTM 250 EXC SIX DAYS\nKTM 250 EXC-F\nKTM 250 EXC-F SIX DAYS\nKTM 250 SX\nKTM 250 SX-F\nKTM 250 SX-F ADAMO EDITION\nKTM 250 SX-F FACTORY EDITION\nKTM 300 EXC\nKTM 300 EXC CHAMPION EDITION\nKTM 300 EXC HARDENDURO\nKTM 300 EXC SIX DAYS\nKTM 300 SX\nKTM 350 EXC-F\nKTM 350 EXC-F CHAMPION EDITION\nKTM 350 EXC-F SIX DAYS\nKTM 350 SX-F\nKTM 390 Adventure R\nKTM 390 Enduro R\nKTM 450 EXC-F\nKTM 450 EXC-F SIX DAYS\nKTM 450 SX-F\nKTM 450 SX-F FACTORY EDITION\nKTM 500 EXC-F\nKTM 500 EXC-F SIX DAYS\nKTM 85 SX 17/14\nKTM 890 Adventure R\nKTM K\nKTM Los modelos de motos de la lista son:\nKTM SX 85 19/16\nKTM SX-E 2\nKTM SX-E 3\nKTM SX-E 5'


##### Separarlo cada linea por salto de linea

In [48]:
lista_modelos = txt_content.split('\n')

In [49]:
models_list = txt_content.split('\n')

### Pre procesado del DF con datos a validar

In [50]:
df_marca_filtrada = df_base[df_base["Marca"] == brand_name]
df_marca_filtrada["modelo_mod"] = df_marca_filtrada["Marca"] + " " + df_marca_filtrada["Modelo"]
df_marca_filtrada.drop_duplicates(subset=["code_modelos_agrupados", "modelo_mod"], inplace=True)
df_marca_filtrada = df_marca_filtrada[["Marca", "Modelo", "modelo_mod", "code_modelos_agrupados"]]

C:\Users\JTRUJILLO\AppData\Local\Temp\ipykernel_2088\3019284855.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_marca_filtrada["modelo_mod"] = df_marca_filtrada["Marca"] + " " + df_marca_filtrada["Modelo"]
C:\Users\JTRUJILLO\AppData\Local\Temp\ipykernel_2088\3019284855.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_marca_filtrada.drop_duplicates(subset=["code_modelos_agrupados", "modelo_mod"], inplace=True)

### Eliminar nombre del modelo de la lista

In [51]:
# Eliminar el nombre de la marca de cada modelo en la lista
models_list = [modelo.replace(f"{brand_name} ", "") for modelo in models_list if modelo.strip()]

### Validar nombres de modelos con la IA

In [52]:
from openai_utils.templates.gpt_questions import homologar_modelo_hibrido

In [53]:
test = df_marca_filtrada.head(5)

In [54]:
# Creamos listas para almacenar los resultados
nombres_originales = []
nombres_sugeridos = []

# Aplicamos la función a todos los modelos
for nombre in df_marca_filtrada["Modelo"].values:
    sugerido = homologar_modelo_hibrido(nombre, models_list)
    nombres_originales.append(nombre)
    nombres_sugeridos.append(sugerido["respuesta"])

# Creamos el dataframe con los resultados
df_correcciones = pd.DataFrame({
    'nombre_original': nombres_originales,
    'modelo_sugerido': nombres_sugeridos
})

In [55]:
models_list

['125 SX',
 '125 XC-W',
 '150 EXC',
 '150 SX',
 '250 EXC',
 '250 EXC CHAMPION EDITION',
 '250 EXC SIX DAYS',
 '250 EXC-F',
 '250 EXC-F SIX DAYS',
 '250 SX',
 '250 SX-F',
 '250 SX-F ADAMO EDITION',
 '250 SX-F FACTORY EDITION',
 '300 EXC',
 '300 EXC CHAMPION EDITION',
 '300 EXC HARDENDURO',
 '300 EXC SIX DAYS',
 '300 SX',
 '350 EXC-F',
 '350 EXC-F CHAMPION EDITION',
 '350 EXC-F SIX DAYS',
 '350 SX-F',
 '390 Adventure R',
 '390 Enduro R',
 '450 EXC-F',
 '450 EXC-F SIX DAYS',
 '450 SX-F',
 '450 SX-F FACTORY EDITION',
 '500 EXC-F',
 '500 EXC-F SIX DAYS',
 '85 SX 17/14',
 '890 Adventure R',
 'K',
 'Los modelos de motos de la lista son:',
 'SX 85 19/16',
 'SX-E 2',
 'SX-E 3',
 'SX-E 5']

In [56]:
df_marca_filtrada[df_marca_filtrada["Modelo"] == "YBR 125 C"]

Empty DataFrame
Columns: [Marca, Modelo, modelo_mod, code_modelos_agrupados]
Index: []

In [57]:
df_correcciones.sort_values(by = "nombre_original", inplace = True)

In [58]:
df_correcciones

         nombre_original  modelo_sugerido
15  1290 Super Adventure    No encontrado
14         200 Duke Gen2    No encontrado
6      200 Duke Gen2 ABS    No encontrado
8            200 Duke WO    No encontrado
12         250 Adventure    No encontrado
1               250 Duke    No encontrado
9                250 EXC          250 EXC
13               300 EXC          300 EXC
11         390 Adventure  390 Adventure R
4            390 Duke NG    No encontrado
5                450 SMR         450 SX-F
2           690 Enduro R     390 Enduro R
7             890 Duke R    No encontrado
3              RC 200 GP    No encontrado
10                RC 390    No encontrado
0              RC 390 GP    No encontrado

### Verificar manualmente los cruces

In [59]:
df_correcciones.to_csv(f"pages/{brand_name}/{brand_name}.csv", index = False)

### Lectura de archivo leído

In [60]:
df_correcciones_vistas = pd.read_csv(f"pages/{brand_name}/{brand_name}.csv")

In [61]:
df_nombres_sugeridos = pd.merge(df_marca_filtrada, df_correcciones_vistas[["nombre_original", "modelo_sugerido"]],
          left_on = "Modelo",
            right_on = "nombre_original",
              how = "left")
df_nombres_sugeridos.drop(columns = ["nombre_original", "modelo_mod"], inplace = True)
df_nombres_sugeridos = df_nombres_sugeridos[["code_modelos_agrupados", "Marca", "Modelo", "modelo_sugerido"]]

In [62]:
df_nombres_sugeridos

,code_modelos_agrupados,Marca,Modelo,modelo_sugerido
0,CO2402-ktm-rc-390-gp,KTM,RC 390 GP,No encontrado
1,CO2795-ktm-250-duke,KTM,250 Duke,No encontrado
2,CO1609-ktm-690-enduro-r-2024,KTM,690 Enduro R,390 Enduro R
3,CO2399-ktm-rc-200-gp,KTM,RC 200 GP,No encontrado
4,CO1397-ktm-390-duke-ng-2024,KTM,390 Duke NG,No encontrado
5,CO1608-ktm-450-smr-2024,KTM,450 SMR,450 SX-F
6,CO833-ktm-200-duke-ng-blanca,KTM,200 Duke Gen2 ABS,No encontrado
7,CO1610-ktm-890-duke-r-2023,KTM,890 Duke R,No encontrado
8,CO2929-ktm-200-duke-wo,KTM,200 Duke WO,No encontrado
9,CO1606-ktm-250-exc-2024,KTM,250 EXC,250 EXC
10,CO1401-ktm-rc-390-2024,KTM,RC 390,No encontrado
11,CO1399-ktm-390-adventure-2024,KTM,390 Adventure,390 Adventure R
12,CO1398-ktm-250-adventure-2024,KTM,250 Adventure,No encontrado
13,CO1607-ktm-300-exc-2024,KTM,300 EXC,300 EXC
14,CO1396-ktm-200-duke-generacion-1-2024,KTM,200 Duke Gen2,No encontrado
15,CO1375-ktm-1290-super-adventure,KTM,1290 Super Adventure,No encontrado

Exportar

In [65]:
df_nombres_sugeridos.to_csv(f"pages/{brand_name}/{pais}/{pais}-{brand_name}_sugeridos-FINAL2.csv", index = False)

In [64]:
df_correcciones[df_correcciones["nombre_sugerido"] == "No encontrado"]

KeyError: 'nombre_sugerido'

In [27]:
df_correcciones[df_correcciones["nombre_sugerido"] != "No encontrado"]

           nombre_original         nombre_sugerido
0             Duke 390 ABS                390 Duke
1        390 Adventure ABS        390 Adventure SW
2                 Duke 250                250 Duke
3               RC 390 ABS                  RC 390
4                 Duke 200                200 Duke
5                   150 XC                 150 EXC
6                  250 EXC                 250 EXC
8   1290 Super Adventure S  1290 Super Adventure S
9        1290 Super Duke R       1390 Super Duke R
10                  RC 200                  RC 200
11                250 SX-F                  250 SX
12           250 Adventure           890 Adventure